<script src="/scripts/md5.js"></script>
<div style="opacity: 0.85;">
    <form class="form-horizontal" role="form" ng-submit="updateUserPassword()">
        <div class="card-panel">

            <div class="input-field">
                <input type="password" maxlength="30" ng-model="old_password" id="old_password">
                <label for="old_password">Password attuale</label>
            </div>

            <div class="input-field">
                <input type="password" maxlength="30" ng-model="new_password" id="new_password">
                <label for="new_password">Nuova password</label>
            </div>

            <div class="input-field">
                <input type="password" maxlength="30" ng-model="new_password_confirm" id="new_password_confirm">
                <label for="new_password_confirm">Conferma nuova password</label>
            </div>

            <br>

            <div>
                <button type="submit"
                        class="orange darken-2 waves-effect waves-light btn-large">Conferma
                </button>
            </div>
        </div>
    </form>
</div>
