<div class="fixed-action-btn" style="bottom: 50px; right: 50px;">
    <button id="insert-btn" ng-click="a.add=!a.add"
            class="btn-floating btn-large waves-effect waves-light orange darken-2">
        <i class="material-icons">add</i>
    </button>
</div>

<div class="card-panel" style="margin:0;" ng-show="operations.length">
    <table class="striped">
        <thead>
        <tr>
            <th style="width: 18%">
                <a class="btn-flat no-padding" ng-click="order('company')">Azienda</a>
                <span class="sortorder" ng-show="predicate === 'company'" ng-class="{reverse:reverse}"></span>
            </th>
            <th style="width: 18%">
                <a class="btn-flat no-padding" ng-click="order('type')">Tipo</a>
                <span class="sortorder" ng-show="predicate === 'type'" ng-class="{reverse:reverse}"></span>
            </th>
            <th style="width: 24%">
                <a class="btn-flat no-padding" ng-click="order('link')">Link</a>
                <span class="sortorder" ng-show="predicate === 'link'" ng-class="{reverse:reverse}"></span>
            </th>
            <th style="width: 25%">
                <a class="btn-flat no-padding" ng-click="order('date')">Data e ora</a>
                <span class="sortorder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span>
            </th>
            <th>
                <a class="btn-flat no-padding" ng-click="order('profit')">Profitto</a>
                <span class="sortorder" ng-show="predicate === 'profit'" ng-class="{reverse:reverse}"></span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="operation in operations | orderBy:predicate:reverse">
            <td>{{operation.company}}</td>
            <td>{{operation.type}}</td>
            <td><a href="{{campaign.link}}" target="_blank">{{operation.link}}</a></td>
            <td>{{operation.date}}, alle {{operation.time}}</td>
            <td>{{operation.profit}} &euro;</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="center" ng-hide="operations.length || a.add" style="margin-top: 80px;">
    <p style="font-size:1.40rem;margin-bottom:0;" class="blue-grey-text text-darken-2">
        Non hai ancora effettuato nessuna operazione. Consulta la sezione <a ui-sref="panel.campaigns">campagne</a> per
        cominciare!
    </p>
</div>

<div class="card-panel row" style="margin:20px 0 0 0;" ng-if="a.add">
    <table>
        <tr>
            <th style="width: 18%">
                <select
                        class="browser-default"
                        ng-change="a.datePop()"
                        ng-model="a.selectedCampaign"
                        ng-options="campaign.company for campaign in campaigns">
                    <option value="" disabled selected>Campagna</option>
                </select>
            </th>
            <th style="width: 18%">{{a.selectedCampaign.type}}</th>
            <th style="width: 24%"><a href="{{operation.link}}" target="_blank">{{a.selectedCampaign.link}}</a></th>
            <th style="width: 25%"><input class="browser-default" ng-model="a.date" type="datetime-local" id="a.datetime"></th>
            <th style="width: 10%">{{a.selectedCampaign.profit}} <span ng-if="a.selectedCampaign.profit">&euro;</span></th>
            <th><a style="padding: 0 5px 0 5px;" ng-click="confirm_function()" class="btn-flat orange-text darken-2">
                <i class="material-icons">done</i>
            </a></th>
        </tr>
    </table>
</div>